# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment Variables
.env

# Data & Logs
data/*.xlsx
data/*.csv
data/*.json
logs/
*.log

# Separate projects
ENZ_selfpay_website/

# IDEs
.vscode/
.idea/
